<nav id="sidebar" class="bg-light position-fixed">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link px-2 text-dark" [routerLink]="['/dashboard']">
        <span class="fa fa-home fa-lg fa-fw" ></span>
        <span class="align-middle link-label pl-2" *ngIf="collapsed">Painel</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2 text-dark" [routerLink]="['/crud']">
        <span class="fa fa-clipboard fa-lg fa-fw"></span>
        <span class="align-middle link-label pl-2" *ngIf="collapsed">Necessidades</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2 text-dark" href="" (click)="clickLogout();">
        <span class="fas fa-link fa-lg fa-fw"></span>
        <span class="align-middle link-label pl-2" *ngIf="collapsed">Integrações</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link px-2 text-dark" href="" (click)="clickLogout();">
        <span class="fa fa-qrcode fa-lg fa-fw"></span>
        <span class="align-middle link-label pl-2" *ngIf="collapsed">No offline</span>
      </a>
    </li> -->
    <div class="dropdown-divider"></div>
    <li class="nav-item">
      <a class="nav-link px-2 text-dark" href="" (click)="clickLogout();">
        <span class="far fa-edit fa-lg fa-fw"></span>
        <span class="align-middle link-label pl-2" *ngIf="collapsed">Editar perfil</span>
      </a>
    </li>
  </ul>

  <!-- button sidebar collapse -->
  <ul id="btn-sidebar-collapse" class="nav position-absolute bg-dark w-100" (click)="toggleCollapsed()">
    <li class="nav-item py-2" id="sidebarCollapse">
      <i id="toggle-icon" class="fa text-muted" [ngClass]="collapsed ? 'fa-angle-left' : 'fa-angle-right'"></i>
    </li>
  </ul>

</nav>