form {
  width: 330px;
}
input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-control {
  height: auto;
  padding: 10px;
}
label {
  font-size: 14px;
}
