<div class="container-fluid">

  <h1 class="h3 d-inline">Demandas</h1>
  <div class="btn-group d-inline pull-right" role="group">
    <button type="button" class="btn btn-sm btn-light">Nova<i class="ml-1 far fa-file"></i></button>
    <button type="button" class="btn btn-sm btn-light"><i class="fa fa-columns"></i></button>
    <button type="button" class="btn btn-sm btn-light"><i class="fa fa-table"></i></button>
  </div>
  <hr class="mt-2">

  <div class="card-deck mb-3">
    <div class="card bg-light card-panel-content">
      <div class="card-body">
        <div class="form-inline">
          <label for="exampleInputEmail1" class="col-1 col-form-label">Email address</label>

          <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0 col-2" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">

          <label for="exampleInputPassword1" class="col-1 col-form-label">Password</label>

          <input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0 col-2" id="exampleInputPassword1"
            placeholder="Password">

          <label for="exampleSelect1" class="col-1 col-form-label">Example select</label>

          <select class="form-control mb-2 mr-sm-2 mb-sm-0 col-2" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <div class="ml-4">
            <button type="submit" class="btn btn-primary  mb-2 mr-sm-2 mb-sm-0">Pesquisar</button>
            <button class="btn btn-success mb-2 mr-sm-2 mb-sm-0" (click)="saveObj();">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-crud-list [entities]="entities"></app-crud-list>
  <app-crud-form></app-crud-form>
</div>